<!DOCTYPE html>
<html>
<head>
<title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="jquery-3.4.0.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
    <body>


    <form  method="POST" action="/upload" enctype="multipart/form-data">
      <div class='form-group'>

					<input type="file" name="inputFile"  />
				</div>
        <button type="submit" onclick="this.disable">submit</button>
				<ul>
				<!-- The file uploads will be shown here -->
				</ul>

			</form>







<div class="container">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%; min-width:20px " >80</div>
  </div>
        </div>


    </body>
